In [ ]:
Write a solution to find all the pairs (actor_id, director_id) where the actor has cooperated with the director at least three times.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
ActorDirector table:
+-------------+-------------+-------------+
| actor_id    | director_id | timestamp   |
+-------------+-------------+-------------+
| 1           | 1           | 0           |
| 1           | 1           | 1           |
| 1           | 1           | 2           |
| 1           | 2           | 3           |
| 1           | 2           | 4           |
| 2           | 1           | 5           |
| 2           | 1           | 6           |
+-------------+-------------+-------------+
Output: 
+-------------+-------------+
| actor_id    | director_id |
+-------------+-------------+
| 1           | 1           |
+-------------+-------------+
Explanation: The only pair is (1, 1) where they cooperated exactly 3 times.

In [2]:
import pandas as pd

data = [[1, 1, 0], [1, 1, 1], [1, 1, 2], [1, 2, 3], [1, 2, 4], [2, 1, 5], [2, 1, 6]]
actor_director = pd.DataFrame(data, columns=['actor_id', 'director_id', 'timestamp']).astype({'actor_id':'int64', 'director_id':'int64', 'timestamp':'int64'})

In [3]:
actor_director

   actor_id  director_id  timestamp
0         1            1          0
1         1            1          1
2         1            1          2
3         1            2          3
4         1            2          4
5         2            1          5
6         2            1          6

In [25]:
### Solution 1
def func(actor_director):    
    df = actor_director.groupby(["actor_id","director_id"]).count().reset_index()
    return df[df.timestamp >=3][['actor_id','director_id']]
    
func(actor_director)

   actor_id  director_id
0         1            1

In [35]:
### Solution 2
def func(actor_director):    
    df = actor_director.groupby(["actor_id","director_id"]).count().reset_index()
    return df.loc[df["timestamp"] >=3,['actor_id','director_id']]

    
func(actor_director)

   actor_id  director_id
0         1            1

### Time Complexity

In [26]:
def func(actor_director):    
    df = actor_director.groupby(["actor_id","director_id"]).count().reset_index()
    df[df.timestamp >=3][['actor_id','director_id']]
    
%timeit func(actor_director)

529 µs ± 5.94 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [28]:
def func(actor_director):    
    actor_director = actor_director.groupby(["actor_id","director_id"]).count().reset_index()
    return actor_director[actor_director.timestamp >=3][['actor_id','director_id']]
    
%timeit func(actor_director)

533 µs ± 12.7 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [36]:
def func(actor_director):    
    df = actor_director.groupby(["actor_id","director_id"]).count().reset_index()
    return df.loc[df["timestamp"] >=3,['actor_id','director_id']]

    
%timeit func(actor_director)

557 µs ± 47.3 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)